html, body {
height: 100%;
    }
h4{
    font-family: arial, sans-serif;
    background-color: red;
}
#green {
    height: 100%;
    background: grey;
    text-align: center;
    color: black;
}
.navbar-brand{
    padding-left: 20px;
    font-size: 40px;
  }
  .navbar2{
  padding-top: 20px;
  padding-left: 30px;
  margin-left: 25px;
  margin-right: 25px; 
  margin-top: 25px;
  }
  
  .datebg{
    float: right;
    background-color: aquamarine;}
  table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 99%;
      margin: auto;
    }
    tr:nth-child(odd) {
      background-color: wheat;
    }
    tr:nth-child(even) {
      background-color: yellow;
    }
    .th2 {
      background-color: aquamarine;
      font-weight: bold;
    }
    th {
      font-size: 10px;
      border: 1px solid black;
      text-align: left;
      padding: 8px;
      text-align:center;
      background-color: red;
      color: white;
    }
    td {
      font-size: 10px;
      border: 1px solid black;
      text-align: left;
      padding: 8px;
      text-align:center;
    }
    tr.total{
      font-style: co;
      background-color: #ff0000ed;
    }
    tr:hover {background-color: cornflowerblue;
    }
    tr {
      background-color: #FFFFFF;
      font-weight: bold;
    }
  
    .dropdown{
      padding-top: 50px;
      padding-left: 20px;
      padding-bottom: 10px;
    }

    .dropdown1{
        position: relative;
       
    }
    .dropbtn {
        background-color: red;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      /* Dropdown button on hover & focus */
    
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: sticky;
        background-color: #f6f6f6;
        
        
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}


.label {
        color: black;
        font-family: Arial;
        font-size:15px;
}
.treg {background-color: #04AA6D;}
.witel {margin-left: 40px;}
.sto {margin-left: 45px;}