{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>  

    <nav class="navbar navbar-light" style="background-color: black;">
    <h5 class="text-white h4">DATIN
      <style>
        h5 {text-align: right;}
        p {text-align: left;}
        div {text-align: left;}
        </style>
                <img src="/static/Images/house.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            </h5> 
            </nav>
            <nav class="navbar navbar-light" style="background-color: #413543;">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Treg  
                  </button> &nbsp;  
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Witel
                  </button>&nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Unit
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mode 
                    </button>  &nbsp;
                    
                    
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transaksi
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Play
                    </button> &nbsp; <br> <br>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Type
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Package
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Payment Type
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Umur  
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Channel
                    </button> &nbsp;
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Product
                    </button>&nbsp;  
                    <br><br>
                    <input class="btn btn-success" type="submit" value="Submit">
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
            </nav>
            
        
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="jq/jquery-2.1.1.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            
            <BR>
            
              <body>
                <style>
                     th {
                      background-color:#E21818;
                      text-align: center;
                     }
                     .th1 {
                      background-color:#6e6e6e
                     }
                     tr {
                      background-color:#adf1d5;
                     }
                     .th2 {
                      background-color:#98DFD6;
                      text-align: center;
                     }
                     .th3 {
                      background-color: #f4f5f3;
                     }
                     .th12{
                      background-color:#E21818;
                      text-align: center;
                     }
                     .thpofo{
                      background-color:#E21818;
                     }
                     .thogbbillcomp{
                      background-color:#e3ffac;
                     }
                     .thBaso{
                      background-color:#e1e3dd;
                     }
                     .thBillcomp{
                      background-color:#e1e3dd;
                     }
                  
                    </style>
                  <style> table, th, td  {
                    border:1px solid black;
                    width: 10%;
                    height: 30%;
                    border-collapse: collapse
                  }
                  
                 
                  </style>
                  
                  
                  <h2>Data Internet </h2>
                  <style>
                    body {
                      background-color: #FFDD83;
                    }
                  </style>
                  <table style="width:100%">
                    <tr>
                      <th rowspan="2">STO </th>
                      <th rowspan="2">PD Total </th>
                      <th rowspan="2">PD As OK (<)7 Days </th>
                      <th rowspan="2">PD As EX (>)7 Days </th>
                      <th class="thpofo"colspan="3">PD </th>
                      <th class="thpofo"colspan="2">FO </th>
                    </tr> 
                    <tr>
                    <td class="th2"> Baso </td>
                    <td class="th2"> OGB Bill Comp </td>
                    <td class="th2"> Bill Comp (MTD & Harian) </td>
                    <td class="th2"> Wfm  </td>
                    <td class="th2"> Osl </td>
                    
                    
                    </tr>
                    <tr>
                      <td class="th"> BB 
                      <td class="th3"> .... 
                      <td class="th4"> .... 
                      <td class="th3"> .... 
                      <td class="thBaso"> .... 
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                     </td> </tr>
                      <tr>
                      <td> WA 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> .... 
                                <td class="thogbbillcomp"> .... 
                                  <td class="thBillcomp"> .... 
                                    <td class="thogbbillcomp"> .... 
                                      <td class="thBillcomp"> .... 
                      </td> </tr>
                      <tr>
                      <td> AN 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> .... 
                                <td class="thogbbillcomp"> .... 
                                  <td class="thBillcomp"> .... 
                                    <td class="thogbbillcomp"> .... 
                                      <td class="thBillcomp"> .... 
                      </td> </tr>
                      <tr>
                      <td> RN 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> .... 
                                <td class="thogbbillcomp"> .... 
                                  <td class="thBillcomp"> .... 
                                    <td class="thogbbillcomp"> .... 
                                      <td class="thBillcomp"> .... 
                      </td> </tr>
                      <tr>
                      <td> LD 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> .... 
                                <td class="thogbbillcomp"> .... 
                                  <td class="thBillcomp"> .... 
                                    <td class="thogbbillcomp"> .... 
                                      <td class="thBillcomp"> ....  </tr>
                      <tr> <td> RG 
                        <td class="th3"> .... 
                        <td> .... 
                          <td class="th3"> .... 
                            <td class="thBaso"> .... 
                              <td class="thogbbillcomp"> .... 
                                <td class="thBillcomp"> .... 
                                  <td class="thogbbillcomp"> .... 
                                    <td class="thBillcomp"> ....  </tr>
                      <tr>
                      <td> DK 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> .... 
                                <td class="thogbbillcomp"> .... 
                                  <td class="thBillcomp"> .... 
                                    <td class="thogbbillcomp"> .... 
                                      <td class="thBillcomp"> ....  

                                      </tr>

                      <tr>
                      <td> GB 
                        <td class="th3"> .... 
                          <td> .... 
                            <td class="th3"> .... 
                              <td class="thBaso"> ....
                                <td class="thogbbillcomp"> ....  
                                <td class="thBillcomp"> .... 
                                  <td class="thogbbillcomp"> .... 
                                    <td class="thBillcomp"> .... 
                      </tr>
                      <tr>
                      <td> GG 
                      <td class="th3">  .... 
                      <td> .... 
                      <td class="th3"> .... 
                      <td class="thBaso"> .... 
                      <td class="thogbbillcomp"> ....
                      <td class="thBillcomp">  .... 
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                      </td> 
                      </tr>
                      
                      <tr>
                      <td> SR 
                      <td class="th3"> .... 
                      <td> .... 
                      <td class="th3"> .... 
                      <td class="thBaso"> .... 
                      <td class="thogbbillcomp"> ....
                      <td class="thBillcomp"> .... 
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                      </td> 
                      </tr>
                        
                      <tr>
                      <td> MG  
                      <td class="th3"> .... 
                      <td> .... 
                      <td class="th3"> .... 
                      <td class="thBaso"> ...                                                               
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                      <td class="thogbbillcomp"> .... 
                      <td class="thBillcomp"> .... 
                      </td> 

                     </tr>
                      <tr>
                      <td class="th12" > Total
                        <td class="th12"> .... 
                          <td class="th12"> .... 
                          <td class="th12"> .... 
                          <td class="th12"> ...                                                               
                          <td class="th12"> .... 
                          <td class="th12"> .... 
                          <td class="th12"> .... 
                          <td class="th12"> .... 
                      
                      </td> 
                                 
                      </tr>

                  </table>
                    
                                      
        </body>
        </html>