{% extends 'dashboard/admin.html' %}

{% block content %}

<h3>Detail Order</h3>
<style>
    .btn-xs {
      padding: 0.25rem 0.5rem;
      font-size: 0.50rem;
      line-height: 1.2;
      border-radius: 0.2rem;
    }
    .rounded-text {
        display: inline-block;
        padding: 0.3rem;
        border-radius: 35px;
        background-color: #E83D71;
        color: #fff;
    }
    td {
        font-size: 12px;
        font-weight: 700;
    }
    th {
        text-align:center;
    }
</style>
<br>

<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>NO</th>
            <th>ORDER / WITEL / DATEK / <br> NDEM POST / NDEM HSI</th>
            <th>CUSTOMER NAME / ADDRESS / TGL ORDER (OD) /PS / DURASI  </th>
            <th>STATUS</th>
            <th>HASIL UKUR</th>
            <th>KENDALA</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{user.order_id}}<br>
                REG {{user.regional}}, {{user.witel}}, {{user.sto}}, {{user.unit}}, {{user.jenispsb}}<br>
                NCLI: {{user.ncli}}<br>
                WFM ID:{{user.wfm_id}}<br>
                LAYANAN: {{user.type_layanan}}<br>
                FLAG DEPOSIT: {{user.flag_deposit}}<br>
                PAKET:{{user.package_name}}<br>
                PRODUCT:{{user.product}}</td>
            <td>{{user.customer_name}} ({{user.contact_hp}})<br>
                CAT/PROVIDER: - {{user.provider}}<br>
                CUST ADDR: {{user.ins_address}}<br>
                CUST ADDR NEW: - {{user.ins_address_new}}<br>
                K-CONTACT: {{user.kcontact}} <br>
                OD: {{user.order_date}} <br>
                DURASI:{{user.durasi}}<br>
                TAHAPAN INSTALASI:{{user.tahapan_instalasi}}<br>
                TASK: {{user.status_task}}<br>
                ACT START: {{user.act_start}}<br>
                SCHEDULE LABOR: {{user.schedule_labor}}<br>
                LOK ODP & PELANGGAN<br>
                LAT: {{user.gps_latitude}} , LON: {{user.gps_longitude}}</td>
            <td>AM CREW: {{user.amcrew}}<br>
                TEKNISI: {{user.teknisi}}<br>
                TGL INSTALL: {{user.tgl_install}}<br>
                STATUS: {{user.status_resume}}<br>
                TGL STATUS: {{user.last_updated_date}}<br>
                STATUS MESSAGE: {{user.status_message}}</td>
            <td>INET:{{user.inet}} ONU:{{user.onu}}<br>
                RX LEVEL:{{user.rx_level}}<br>
                USG INET:{{user.usg_inet}}<br>
                USG IPTV:{{user.usg_iptv}}<br>
                STATUS VOICE:{{user.status_voice}}<br>
                CLID:{{user.clid}}<br>
                LAST SESS.INET:{{user.last_sess_inet}}<br>
                TGL UKUR:{{user.tgl_ukur}}</td>
            <td>APPOINTMENT: {{user.appointment}}<br>
                ERROR CODE: {{user.error_code}}<br>
                ENGINEER MEMO: {{user.engineer_memo}}<br>
                KENDALA: {{user.kendala}}<br>
                SUB KENDALA: {{user.sub_kendala}}<br>
                DECSRIPTION: {{user.description}}</td>
            <td>
        </tr>
        {%empty%}
        <tr>
            <td colspan="6">No users found.</td>
        </tr>
        {% endfor %}
    </tfoot>
</table>

{% endblock %}
