html, body {
  height: 100%;
      }
  h4{
      font-family: arial, sans-serif;
      background-color: red;
  }
  #green {
      height: 100%;
      background: grey;
      text-align: center;
      color: black;
  }
.navbar-light{
  padding-left:30px;
  padding-right:30px; 
}
.navbar-brand{
  padding-left: 15px;
  font-size: 40px;
}

.navbar2{
padding-top: 20px;
background-color: #B2B2B2 !important;
padding-left: 30px;
margin-left: 25px;
margin-right: 25px; 
margin-top: 25px;
}
.navbar3{
  background-color: #B2B2B2;
}
.datebg{
  float: right;
  background-color: aquamarine;}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
    margin: auto;
  }
  tr:nth-child(odd) {
    background-color: wheat;
  }
  tr:nth-child(even) {
    background-color: yellow;
  }
  .th2 {
    background-color: aquamarine;
    font-weight: bold;
  }
  th {
    font-size: 10px;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align:center;
    background-color: red;
    color: white;
  }
  td {
    font-size: 10px;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align:center;
  }
  tr.total{
    font-style: co;
    background-color: #ff0000ed;
  }
  tr:hover {background-color: cornflowerblue;
  }
  tr {
    background-color: #FFFFFF;
    font-weight: bold;
  }

  .dropdown{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
  }

.label {
    color: black;
    font-family: Arial;
    font-size:15px;
}
.witel {margin-left: 45px;}
.sto {margin-left: 40px;}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
